loaddefs.el*
.saves/*
.org-id-locations
.abbrev_defs
.emacs-places
.emacs.bmk
auto-save-list
org-clock-save.el*
*.elc
places
url/cookies
vendor/jabber/jabber.info
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
.git
*.tar.gz
*.tgz
config.log
config.status
image-dired/*
\#*
